body
{
    font-family: 'Raleway', sans-serif;
    margin: 0;
}
.d-none{
    display: none;
}
div
{
    display: block;
}
a {
    color: inherit;
    text-decoration: none;
}
header 
{
    display: flex;
    justify-content: space-between;
    margin: 0 1em 0 1em;
}
nav
{
    display: flex;
}
nav ul 
{
    list-style-type: none;
}
.menu
{
    display: flex;
    align-items: center;
}
.hebergement
{
    border-top: 3px solid #0065FC ;
    color: #0065FC;
    margin: 0 5em 0 0;
    padding: 1.8em 0 0 0;
    height: 100%;
}
.activite
{
    margin-right: 2em;
    padding: 2em 0 0 0;
    height: 100%;
}
.inscrire
{
    color: #0065FC;
    font-weight: bold;
    padding: 2em 0 0 3em;
    height: 100%;
}  
strong
{
    font-weight: bold;
}
section
{
    display: block;
}
.BlocRecherche
{
    margin: 0 1em 0 1em;
}
.TableRecherche
{
    display: inline-flex;
    margin-top: 2em;
    height: 3.5em;
} 
.IconeLocal
{
    border-radius: 1em 0 0 1em;
    padding: 1em;
    font-size: 1.1em;
    background-color: #F2F2F2;
}  
.ZoneRecherche
{
    display: flex;
    width: 250px;
    border: 1px solid #F2F2F2;
    font-size: 1.1em;
}
.Text
{
    border: 0; 
}
.BoutonRecherche
{
    background-color: #0065FC;
    border: 0;
    border-radius: 0 1em 1em 0;
    text-align: center;
    color: white;
    font-size: 1.1em;
    padding: 0 2em 0 2em; 
}
.Filtre
{
    display: flex;
    align-items: center;
    margin-top: 2em;
    font-size: 1.1em;    
}
.FiltreRercherche
{
    display: flex;
    border: 3px solid #f2f2f2;
    border-radius: 2em;
    align-items: center;
    padding-right: 1em;
    margin-left: 2.5em;
    font-weight: bold; 
}
.FiltreIcone
{
    display: flex;
    height: 3em;
    width: 3em;
    border: 3px solid #DEEBFF;
    align-items: center;
    border-radius: 100%;
    justify-content: center;
    background-color: #DEEBFF;
    margin: -2px 10px -2px -2px; 
}
.TitreIcone
{
    display: flex;
    align-items: center;
    margin-left: 1.5em;
}
.Info
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;  
}
footer 
{
    background-color: #F2F2F2;
    width: 100%;
}
.BlocFin
{
    display: flex;
    justify-content: space-around;
    text-align: justify;
    padding: 0 2rem;
}
.ColonneBas
{
    width: 30%;
    padding: 2rem 2rem;
}
.ColonneLienBas
{
    display: block;
    margin: 1rem 0;  
}