body
{
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
    max-width: 1440px;
}
 /*Partie haut de page */
.d-none
{
    display: none;
}
div
{
    display: block;
}
a {
    color: inherit;
    text-decoration: none;
}
header 
{
    display: flex;
    justify-content: space-between;
    margin: 1em 1em 0 1em;
}
nav
{
    display: block;
}
nav ul 
{
    list-style-type: none;
}
.menu
{
    display: flex;
    align-items: center;
}
.hebergement
{
    border-top: 3px solid #0065FC ;
    color: #0065FC;
    margin: 0 3em 0 0;
    padding: 1.8em 0 0 0;
    height: 100%;
}
.activite
{
    margin-right: 2em;
    padding: 2em 0 0 0;
    height: 100%;
}
.inscrire
{
    color: #0065FC;
    font-weight: 600;
    padding: 2em 0 0 3em;
    height: 100%;
}
 /*Partie general body */  
strong
{
    font-weight: bold;
}
i
{
    color: #0065FC;
}
.fa-chart-line
{
    color: black;
}
.etoileGrise
{
    color: #d9d9d9;
}
section
{
    display: block;
}
 /*Partie bloc recherche */
.blocRecherche
{
    margin: 0 1em 0 1em;
}
.tableRecherche
{
    display: inline-flex;
    margin-top: 2em;
    height: 3.5em;
} 
.fa-map-marker-alt
{
    border-radius: 1em 0 0 1em;
    padding: 1em;
    font-size: 1.1em;
    background-color: #F2F2F2;
    color:black
}  
.zoneRecherche
{
    display: flex;
    width: 250px;
    border: 1px solid #F2F2F2;
    border-radius: 1em 0 0 1em;
    height: 50px;
}
::placeholder
{
    color: black;
    font-weight: bold;
}
.search
{
    border: 0;
    border-color: 0 none;
    text-align: center;
    font-size: 1em;
    padding: 1em 1em 1em 1em;
    font-family: 'Raleway', sans-serif;
}
.iconeRecherche2
{
    display:none;
    color:white;
}
.filtreRercherche:hover
{
    background-color: #DEEBFF;
}
.boutonRecherche
{
    background-color: #0065FC;
    border: 0;
    border-radius: 0 1em 1em 0;
    text-align: center;
    color: white;
    font-size: 1em;
    padding: 1em;
    font-family: 'Raleway', sans-serif;
    font-weight: bold; 
}
.filtre
{
    display: flex;
    align-items: center;
    margin-top: 1.5em;
    font-size: 1.1em;    
}
.filtreRercherche
{
    display: flex;
    border: 3px solid #f2f2f2;
    border-radius: 2em;
    align-items: center;
    padding-right: 1em;
    margin-left: 2.5em;
    font-weight: bold; 
}
.filtreIcone
{
    display: flex;
    height: 3em;
    width: 3em;
    border: 3px solid #DEEBFF;
    align-items: center;
    border-radius: 100%;
    justify-content: center;
    background-color: #DEEBFF;
    margin: -2px 10px -2px -2px; 
}
.titreIcone
{
    display: flex;
    align-items: center;
}
.info
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;  
}
.fa-info
{
    height: 2rem;
    width: 2rem;
    min-height: 2rem;
    min-width: 2rem;
    border: solid 1px #d9d9d9;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem; 
}
 /*Partie bloc hebergement */
.blocHebergement
{
    display: flex;
    column-gap: 2rem;
    margin-top: 15px;
}
.hautBlocHebergement
{
    display: flex;
    justify-content: start;
    height: 50px;
    margin-top: -10px;
    margin-left: 11px;
}
.sousBlocHebergement
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 2rem;
    background-color: #F2F2F2;
    border-radius: 1.5rem;
    width: 60%;
    padding: 0.9em;
    margin-bottom: 33px;
}
.elementHebergement
{
    background-color: white;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
    transition-duration: 0.1s;
    cursor: pointer;
    box-sizing: border-box;
    height: 46%;
    width: 32%;
    margin-right: 0;
}
.elementHebergement:hover
{
    transform: scale(1.1);
}
.imageHebergement
{
    height: 119px;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    border-radius: 1rem 1rem 0 0;
}
.sectionHebergement
{
    margin-top: -33px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-left: 7px;
}
figure
{
    padding: 2px;
    margin: 2px;
}
.titreHebergement
{
    display: block;
    padding-top: 0;
    margin-top: -21px;
    margin-left: 6px;
}
.texteHebergement
{
    margin-left: 9px;
    display: block;
    padding-top: 0;
    margin-top: -32px;
}
.etoileHebergement
{
    margin-left: 9px;
    display: block;
    padding-top: 22px;
    margin-top: -30px;
}
.basDeBlocHebergement
{
    margin-left: 11px;
    display: block;
    padding-top: 22px;
    margin-top: -30px;
    height: 1px;
}
/*Partie bloc populaire*/
.elementPopulaire
{
    background-color: white;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
    transition-duration: 0.1s;
    cursor: pointer;
    box-sizing: border-box;
    width: 100%;
    margin-right: 0;
    margin-top: 25px;
    height: 148px;
}
.elementPopulaire:hover
{
    transform: scale(1.05);
}
.blocPopulaire
{
    display: grid;
    column-gap: 2rem;
    background-color: #F2F2F2;
    border-radius: 1.5rem;
    padding: 24px; 
    width: 30%;
    margin-bottom: 33px;
}
.plusPopulaire
{
    margin-top: -19px;
}
.imagePopulaire
{
    height: 143px;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    border-radius: 1rem 0 0 1rem;
    width: 192px;
}
.fleche
{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: -35px;
}
.titrePopulaire
{
    display: flex;
    align-items: flex-start;
    margin-top: -157px;
    margin-left: 206px;
}
.titrePopulaire2
{
    display: flex;
    align-items: flex-start;
    margin-top: -163px;
    margin-left: 207px;
}
.textePopulaire
{
    display: flex;
    align-items: flex-start;
    margin-top: -32px;
    margin-left: 211px; 
}
.iconePopulaire
{
    display: flex;
    align-items: flex-start;
    margin-top: 39px;
    margin-left: 212px;
}
.iconePopulaire2
{
    display: flex;
    align-items: flex-start;
    margin-top: 30px;
    margin-left: 210px;
}
/*Partie activité*/
.blocActivites
{
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 31.25rem;
    margin-left: 20px;
}
.activitePort
{
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition-duration: 0.1s;
    width: 20%;
    height: 443px;
}
.activitePort:hover
{
    transform: scale(1.05);
}
.activitePortBloc
{
    position: relative;
    flex: 1;
    margin-top: -2px;
}
.portImage
{
    position: absolute;
    height: 402px;
    width: 312px;
    object-fit: cover;
    margin-left: -5px;
    margin-top: -6px
}
.activitePortTitre
{
    margin: 25.4rem 0.5rem;
    height: 30px;
}
.activiteFort
{
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition-duration: 0.1s;
    height: 245px;
    width: 20%;
}
.activiteFort:hover
{
    transform: scale(1.05);
}
.activiteFortBloc
{
    position: relative;
    flex: 1;  
}
.fortImage
{
    position: absolute;
    height: 189px;
    width: 310px;
    object-fit: cover;
    margin-left: -6px;
    margin-top: -6px
}
.activiteFortTitre
{
    margin: 12.4rem 0.5rem;
    height: 30px;
}
.activiteFrioul
{
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition-duration: 0.1s;
    height: 170px;
    width: 20%;
    margin-top: -27px;
}
.activiteFrioul:hover
{
    transform: scale(1.05);
}
.activiteFrioulBloc
{
    position: relative;
    flex: 1;  
}
.frioulImage
{
    position: absolute;
    height: 125px;
    width: 310px;
    object-fit: cover;
    margin-left: -6px;
    margin-top: -6px;
}
.activiteFrioulTitre
{
    margin: 8.2rem 0.5rem;
    height: 30px;
}
.activiteNational
{
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition-duration: 0.1s;
    width: 20%;
    height: 443px;
}
.activiteNational:hover
{
    transform: scale(1.05);
}
.activiteNationalBloc
{
    position: relative;
    flex: 1;  
}
.nationalImage
{
    position: absolute;
    height: 401px;
    width: 312px;
    object-fit: cover;
    margin-left: -5px;
    margin-top: -6px;
}
.activiteNationalTitre
{
    margin: 25.4rem 0.5rem;
    height: 30px;
}
.activiteDame
{
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition-duration: 0.1s;
    height: 202px;
    width: 20%;
}
.activiteDame:hover
{
    transform: scale(1.05);
}
.activiteDameBloc
{
    position: relative;
    flex: 1;  
}
.dameImage
{
    position: absolute;
    height: 158px;
    width: 310px;
    object-fit: cover;
    margin-left: -6px;
    margin-top: -6px;
}
.activiteDameTitre
{
    margin: 10.2rem 0.5rem;
    height: 30px;
}
.activiteLongchamp
{
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition-duration: 0.1s;
    height: 202px;
    width: 20%;
    margin-top: -14px;
}
.activiteLongchamp:hover
{
    transform: scale(1.05);
}
.activiteLongchampBloc
{
    position: relative;
    flex: 1;  
}
.longchampImage
{
    position: absolute;
    height: 158px;
    width: 310px;
    object-fit: cover;
    margin-left: -6px;
    margin-top: -6px;
}
.activiteLongchampTitre
{
    margin: 10.2rem 0.5rem;
    height: 30px;
}
 /*Partie bas de page */
footer 
{
    background-color: #F2F2F2;
    width: 100%;
}
.blocFin
{
    display: flex;
    justify-content: space-around;
    text-align: justify;
    padding: 0 2rem;
}
.colonneBas
{
    width: 30%;
    padding: 2rem 2rem;
}
.colonneLienBas
{
    display: block;
    margin: 1rem 0;  
}
/*Media queries version mobile */
@media screen and (max-width: 619px )
{
    .blocHebergement
    {
        flex-direction: column-reverse;
        margin-top: 5px;
        width: 100%;
    }
    .blocPopulaire
    {
        width: 100%;
        border-radius: 0;
        padding: 35px;
    }
    .imagePopulaire
    {
        width: 127px;
    }
    .titrePopulaire
    {
    margin-top: -165px;
    margin-left: 136px;
    }
    .textePopulaire
    {
        margin-top: -39px;
        margin-left: 139px;   
    }
    .iconePopulaire
    {
        margin-left: 138px;
        margin-top: 41px;
    }
    .titrePopulaire2
    {
        margin-left: 135px;  
    }
    .iconePopulaire2
    {
        margin-left: 136px; 
        margin-top: 38px; 
    }
    .sousBlocHebergement
    {
        width: 100%;
        background-color: white;
    }
    .sectionHebergement
    {
        display: block;
        flex-direction: column;
        margin-top: -17px;
    }
    .elementHebergement
    {
        height: 207px;
        width: 105%;
        margin-top: 25px;
    }
    .basDeBlocHebergement
    {
        margin-top: -21px;
    }
    .blocActivites
    {
        display: block ;
        height: 1193px;
        margin-left: 21px;
        width: 100%;
    }
    .blocActivites>div
    {
        margin-top: 32px;    
        height: 169px;
        width: 100%;  
    }
    .blocActivites>div>a>figure>img
    {
        position: absolute;
        height: 125px;
        width: 104%;
        object-fit: cover;
        margin-left: -6px;
        margin-top: -6px;  
    }
    .blocActivites>div>a>figure>figcaption
    {
        margin: 8.2rem 0.5rem;
        height: 30px;
    }
    .basActivites>div>h3
    {
        margin-left: 22px ;
    }
    .blocFin
    {
        display: block;
        margin-left: -28px;
    }
    .colonneBas
    {
    width: 100%;
    padding: 2rem 1rem;
    margin-left: -55px;
    }
    .filtre
    {
        display: block;
        
    }
    .filtreRercherche
    {
        margin-top: 10px;
        margin-left: 3px ;
        width: 219px;
    }
    .iconeRecherche2
    {
        display: block;
        color: white;
    }
    .rechercher
    {
        display: none;
    }
    .boutonRecherche
    {
        border-radius: 1em;
    }
    .zoneRecherche
    {
        border-radius: 1em;
        width: 255px;
    }
    .search
    {
        width: 128px;
        text-align: left;
    }
    header
    {
        justify-content: space-between;
        margin: 0;
        display: block;
    }
    .menu
    {
        display: flex;
        width: 100%;
        text-align: center;;
    }
    .navigation
    {
        width: 100%;
        margin: 0 0 2em 0;
        padding: 0;
        height: auto;
    }
    .hebergement
    {
        width: 100%;
        color: #0065FC;
        border-bottom: 3px solid #0065FC;
        padding: 1em 0 1em 0;
        border-top: 0;
        height: auto;
        margin-right: 1px;
    }
    .activites
    {
        width: 100%;
        border-bottom: 2px solid #f2f2f2;
        padding: 1em 0 1em 0;
        margin-right: -68px;
    }
    .inscrire
    {
        position: absolute;
        top: 0em;
        right: -2em;
        height: auto;
    }
    .logo
    {
        display: block;
        margin: 0 0 0 1em;
        padding: 2em 0 0 0;;
    }
    footer
    {
        width: 100%;
        padding: 0 0 0px 67px;
    }
    .blocRecherche
    {
        margin-top: 33px;
    }
}
/*Media queries version mobile */
@media screen and (max-width: 1314px) and (min-width: 620px)
{
    .blocHebergement
    {
        flex-direction: column-reverse;
        margin-top: 5px;
        width: 100%;
    }
    .blocPopulaire
    {
        width: auto;
        border-radius: 0;
    }
    .essemblePopulaire
    {
        display: flex;
        justify-content: space-between;
        height: 114%;
    }
    .imagePopulaire
    {
        height: 76px;
        object-fit: cover;
        width: 100%;
        max-height: 100%;
        border-radius: 1rem 1rem 0 0;
    }
    .titrePopulaire
    {
        margin-top: -20px;
        margin-left: 10PX;
    }
    .textePopulaire
    {
        margin-top: -39px;
        margin-left: 16px;   
    }
    .iconePopulaire
    {
        margin-left: 15px;
        margin-top: -13px;
    }
    .titrePopulaire2
    {
        margin-left: 10px;
        margin-top: -23px;
    }      
    .iconePopulaire2
    {
        margin-left: 13px;
        margin-top: -14px;  
    }
    .elementPopulaire
    {
        width: 30%;
        height: 74%;
    }
    .sousBlocHebergement
    {
        background-color: white;
    }
    .sectionHebergement
    {
        flex-direction: column;
        margin-top: -17px;
        justify-content: space-between;
        flex-wrap: wrap;
        height: 494px;
        margin-left: 0;
        width: 92%;
    }
    .elementHebergement
    {
        height: 207px;
        width: 51%;
        margin-top: 40px;
        margin-left: 26px;
    }
    .basDeBlocHebergement
    {
        margin-top: -28px;
    }
    .blocActivites
    {
        height: 617px;
        margin-left: 44px;
        justify-content: space-between;
        width: 94%;
    }
    .blocActivites>div
    {
        margin-top: 32px;    
        height: 169px;
        width: 46%;  
    }
    .blocActivites>div>a>figure>img
    {
        position: absolute;
        height: 125px;
        width: 107%;
        object-fit: cover;
        margin-left: -6px;
        margin-top: -6px;  
    }
    .blocActivites>div>a>figure>figcaption
    {
        margin: 8.2rem 0.5rem;
        height: 30px;
    }
    .basActivites>div>h3
    {
        margin-left: 22px ;
    }
    footer
    {
        margin-top: 41px;
        width: 100%;
    }
    .colonneBas
    {
        padding: 0;
    }
    .filtre
    {
        flex-wrap: wrap;
    }
} 